section.location
  .grid, .section-header
    z-index: 1
    position: relative

  .col-2
    position: relative

  .bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 0
    background-color: $grey

  .description
    position: relative
    padding: 20px 40px 30px 40px
    text-align: justify
    accent-bottom-left($black)

  .address
    &:before
      content: ''
      float: left
      height: 35px
      width: 30px
      margin-right: 10px
      background-image: url('../img/favorite.svg')
      background-size: contain
      background-repeat: no-repeat
      background-position: center

  .directions
    padding: 0 0 20px 0

    h3
      margin-bottom: 0

    ul
      margin: 0
      padding: 0 0 0 20px
      list-style-type: square

      li
        margin-bottom: 6px

  .map
    width: 200px
    height: 200px


