@media only screen and (max-width: 968px)
  .hidden-mobile
    display: none !important

  body
    margin: 0 6px

  section
    padding: 0 10px
    min-height: 0

  h2.section-header
    margin-top: 80px

  .grid
    display: block;

    .col-2, .col-3, .col-3x2
      width: 100%
      display: block

  .header
    border-bottom: 1px solid $grey

  section.home
    .background-element
      display: none

    .content-container
      position: static

      .content
        position: relative
        display: block
        top: 100px
        left: auto
        right: auto

        .hero-text
          position: static
          display: block

          a
            position: static
            display: block
            margin: 50px auto 0 auto

          .subtext
            text-indent: 0
            text-align: center

        h1 .top, h1 .bottom
          text-align: center
          text-indent: 0

        h1 .bottom
          font-size: 80px

    .section-background
      left: 0

  section.location
    .grid.directions .col-2
      margin-bottom: 30px

  section.accomodations
    .col-3
      margin-top: 60px

    .button.black
      display: block
      text-align: center

