section.story
  .image
    background-image: url(../img/story.jpg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    position: relative
    min-height: 370px
