h2.section-header Accomodations
.grid
  .col-3x2
    h3 Hyatt Regency Westlake Village
    .hotel-pic
    p
      strong Our block of rooms is now full!
      br
      | You can still try to make a reservation at the hotel but please note that it is a holiday weekend and the hotel is filling up fast.
    a.button.black(href="https://www.hyatt.com/en-US/hotel/california/hyatt-regency-westlake/westl") Book your room here

  .col-3
    h3 Other Options
    p
      | There are numerous other hotels in the area that are available, however the Hyatt was the best cost/quality we could find. For families or groups larger than two, we recommend trying &nbsp;
      a(href="https://www.airbnb.com/s/Malibou-Lake-Mountain-Club--Lake-Vista-Drive--Agoura-Hills--CA--USA/homes?refinement_paths%5B%5D=%2Fhomes&place_id=ChIJ9zlGrHch6IARS39hLhUEack&query=Malibou%20Lake%20Mountain%20Club%2C%20Lake%20Vista%20Drive%2C%20Agoura%20Hills%2C%20CA%2C%20USA&room_types%5B%5D=Entire%20home%2Fapt&allow_override%5B%5D=&s_tag=At0Cm7Dy") AirBNB
      | .
    .seperator
    h3 Transportation
    p
      | We recommend using &nbsp;
      a(href="https://www.lyft.com/ici/DOUGLAS20639") Lyft
      | &nbsp;for transportation around town and from the airport to the hotel. If you're going to be in town for a while, you might also consider renting a car at the airport.
    br
    h3 Hotel Shuttle
    p Transportation will be provided via shuttle from the hotel to the wedding venue. Pickup from the hotel is at 4:30pm (please be outside the hotel on the dot!) and there will be two return shuttles back to the hotel. One at 10:00pm, and a second at 10:50pm.
