h2.section-header FAQ
.grid
  .col-3
    ul
      li
        .question When is it?
        .answer Saturday, August 16, 2025
      li
        .question Do I have to RSVP?
        .answer Yep! Absolutely. We need to know who's coming so that we can plan an amazing evening for everyone. Thanks for understanding.
      li
        .question What is the RSVP deadline?
        .answer July 12. After that we will assume you will NOT be attending.
      li
        .question I have some RSVP questions or concerns...
        .answer Just call or email us directly at&nbsp;
          a(href='mailto:wedding@sarahandarnel.com') wedding@sarahandarnel.com.
      li
        .question When should I arrive?
        .answer Our ceremony will begin at 5 PM – please allow time for parking and to find your seat prior to the beginning of the event.
      li
        .question Where should I park?
        .answer Please use self parking at the hotel parking lot. Validation will be provided.
      
  .col-3
    ul
      li
        .question When does it end?
        .answer 11 PM (or later!)
      li
        .question What should I expect?
        .answer A short, indoor ceremony, followed by cocktail hour on a shaded patio, and dinner and dancing inside the hotel ballroom
      li
        .question Will there be parking at the venue?
        .answer Yes! There are valet or self parking options at the hotel.
      li
        .question Can I bring a plus one?
        .answer In order to keep our wedding intimate, only those who are listed on your invitation are invited to attend.
      li
        .question Can I bring our kids?
        .answer In order to create a more relaxed atmosphere for our guests, only children of immediate family members will be present. Thanks for your understanding.

      li
        .question Is there a gift registry?
        .answer
          | We're just happy you're celebrating with us! But we have also registered&nbsp;
          a(href="https://www.amazon.com/wedding/share/sarahandarnel") here.

  .col-3
    ul
      li
        .question Can I take pictures?
        .answer We ask that all guests please refrain from using their phones or cameras during our ceremony to keep the moment peaceful, and allow our photographers to work their magic. After that, all photos are welcomed and encouraged!
      li
        .question Dress code?
        .answer Black tie attire requested please. White clothing is reserved for the bride only.
      li
        .question What is Black Tie Attire Anyway?
        .answer Think elegant and formal. For men, this usually means a tuxedo, a formal dress shirt, black formal shoes, and a bow tie. For women, it’s typically an evening gown or a formal cocktail dress. It’s your chance to dress up and look your best! Feel free to add some personal style while keeping it classy.

