.hero-text
  h1
    .top We are getting
    .bottom Married
  .subtext Saturday, August 16th, 2025

.hero-rsvp
  .timer
    .timeleft
      span.days#days
      span.text#daystext
  a.button.cta.black.big(href="#rsvp") RSVP Now

script(type="text/javascript", src="/js/days.js")
