h2.section-header Venue
.grid
  .col-2
    h3 Warner Center Marriott Woodland Hills
    a.address(href="https://maps.app.goo.gl/UcVxbrfEghVyNEKJ8", target="_blank")
      span 21850 W Oxnard St.
      br
      span Woodland Hills, CA 91367

  .col-2
    .grid.directions
      .col-2
        h3 From the 101 (US-101)
        ul
          li Exit Topanga Canyon Blvd and go north
          li Turn right on Oxnard St
          li Location will be on your right
      .col-2
        h3 From the 118
        ul
          li Exit Topanga Canyon Blvd and go south
          li Turn left on Oxnard St
          li Location will be on your right
.bg
