h2.section-header For Out of Town Guests
.grid
  .col-3
    h3 Airports
    h4 Los Angeles Airport (LAX)
    p This will probably be the most convenient airport for most to travel through. There are likely more flights coming in and out of LAX at cheaper prices than other airports in the area. Since it will be a holiday weekend, the airport will be very busy. For outbound flights, plan to get there at least 1.5 hours before domestic flights, and at least 3 hours before international flights.
    h4 Burbank Airport (BUR)
    p Burbank Airport is much smaller than LAX and serves mostly domestic routes, so flights may be less frequent and more expensive. However, it is closer to the wedding venue and faster to get in/out of.

  .col-3
    h3 Where to Stay
    p If you are staying for a long time, you may not want to stay at the wedding hotel for your entire trip. We recommend looking up hotels and also AirBNBs in other areas to maximize your trip. Aside from Malibu area (near the wedding venue), we recommend looking at the Santa Monica, Venice, South Bay, and Downtown areas as well.
    .seperator
    h3 Getting Around
    p
    | Los Angeles is a car oriented city. We recommend using &nbsp;
    a(href="https://www.lyft.com/ici/DOUGLAS20639") Lyft
    | &nbsp;or Uber for on-demand travel around town. If you will be visiting for a while, renting a car from the airport may be the best and most flexible option. Los Angeles does have public transit, but due to the sheer scale of LA, can sometimes be unhelpful or difficult to navigate if you are going longer distances.
  .col-3
    h3 Things to do in L.A.
    p We are more than happy to make any custom suggestions (just email us). There are lots to do but keep in mind that most of it is spread out. We also recommend avoiding most of the common suggestions like seeing the Hollywood sign or the Walk of Fame since they tend to be underwhelming, hard to get to, and sometimes in mildly unsafe areas.
    p Here are some places to get some ideas of what to do:
    ul
      li
        a(href="https://www.tripadvisor.com/Tourism-g32655-Los_Angeles_California-Vacations.html", target="_blank") Tripadvisor
      li
        a(href="https://www.discoverlosangeles.com/", target="_blank") Discover LA
      li
        a(href="http://www.latourist.com/", target="_blank") LA Tourist
      li
        a(href="https://www.eventbrite.com/d/ca--los-angeles/events/", target="_blank") Events in LA
