h2.section-header Our Story
.grid
  .col-3.image.hidden-mobile
    .caption.light &nbsp;
  .col-3x2
    p We met at a wedding in the summer of 2016 (thanks Kristen and Quinn!). Sarah was the maid of honor and Arnel was a co-worker of the groom. Arnel struck up a conversation and had Sarah laughing immediately. We parted ways without exchanging numbers, but our paths crossed again several months later at a Halloween party. As Sarah was leaving, Arnel asked for her number and called her on the spot to make sure she hadn't given him a fake number. (She hadn't).
    p Our first official date was a surprise trip to Universal Studios Harry Potter world. Arnel bought us annual passes as we walked through the turnstile, because he was so sure we would have many more dates to follow. Turns out he was right!
    p We bonded over our mutual loves of movies, mediterranean food and Disneyland. Our relationship began with countless adventures to theme parks, Broadway shows, and foodie adventures, and Arnel kept a record of all of our first 200 dates.
    p Six years into dating we decided to begin construction on our dream home, which we fully moved into in July of 2024. Arnel proposed on October 1st, 2024, at approximately 4:45 am as we were sitting at our kitchen island on a sleepy Tuesday morning.
    p We are so excited to finally be tying the knot, and can't wait for August 16th to celebrate our love with our favorite people. Thank you for being a part of our story.
    p Love, Sarah and Arnel

